<h1><%= @weather.temperature %>&deg;</h1>
<h2><%= @weather.condition %></h2>
<ul>
	<li>Wind: <%= @weather.wind_direction %> <%= @weather.wind_speed %>mph</li>
	<li>Humidity: <%= @weather.humidity %></li>
</ul>